body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.donation {
  flex-grow: 1;
  text-align: center;
  border: 1px;
  font-size: x-large;
  padding: 1em;
}

.navbar-header {
  flex-grow: 1;
  width: 100%;
  max-height: 100vw;
  max-width: 100vh;
  align-self: center;
  background: center / contain no-repeat url(../images/icon128.svg);
  margin: 1em 5px 5px 5px;
}

footer {
  align-self: center;
  padding: 1em;
}

@media screen {
    form, article, label {
      display: block;
      margin: 5px;
    }

    form .submit {
      margin: 15px 0;
    }
}
