body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.donation {
  text-align: center;
  border: 1px;
  font-size: x-large;
}

.navbar-header {
  height: 100px;
  background: url(../images/icon64.png) no-repeat center center;
  margin: 10px 5px 5px 5px;
}

@media screen {
    form, article, label {
      display: block;
      margin: 5px;
    }

    form .submit {
      margin: 15px 0;
    }
}
