/*

  It's maddening to do CSS without a box-sizing: border-box reset!

  See also:
  * https://css-tricks.com/box-sizing/
  * https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing

*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/*
  iOS Safari viewport action bar workaround.

  See also:
  * https://www.eventbrite.com/engineering/mobile-safari-why/
  * https://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html
  * https://medium.com/samsung-internet-dev/toolbars-keyboards-and-the-viewports-10abcc6c3769
*/
html, body, .container {
  height: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.donation-amount-wrapper {
  position: relative;
}

.input-field-container {
  position: relative;
}

.input-field-container .preinput, .input-field-container .postinput {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333232;
  font-size: 20px;
  line-height: 1rem;
  padding: 0 10px;
  font-weight: 500;
}
.input-field-container .preinput {
  left: 0;
}
.input-field-container .postinput {
  right: 0;
}
.input-field-container input {
  transition: border-color 0.30s ease-in-out;
  border-radius: 4px;
  border: 1px solid #c1c1ba;
  height: 60px;
  font-size: 28px;
  color: #369ff4;
  /* Make space for the USD and $ respectively */
  padding: 10px 62px 10px 30px;
  width: 100%;
  cursor: pointer;
  line-height: 1.3;
  /* Remove controls from Firefox */
  -moz-appearance: textfield;
}
.input-field-container input:focus {
  border-radius: 4px;
  border: 1px solid #7bc1fa;
  outline: 0;
}
.input-field-container input:disabled {
  cursor: initial;
}

/*

  Remove controls from Safari and Chrome

  See also: https://css-tricks.com/numeric-inputs-a-comparison-of-browser-defaults/

*/
.input-field-container input[type=number]::-webkit-inner-spin-button,
.input-field-container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

.donation {
  flex-grow: 1;
  text-align: center;
  border: 1px;
  font-size: x-large;
  padding: 0.5em;
}

.donate-form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 390px;
  border: 1px solid #dfdfd7;
  border-radius: 4px;

}

.donate-form-header {
  background: #f4f5f0;
  border-bottom: 1px solid #dfdfd7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 16px 20px;
}

.action-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.success .action-container {
  display: none;
}

.success .success-message,
.email-sent .email-sent_true {
  display: block;
}

.email-sent_true,
.email-sent .email-sent_false {
  display: none;
}

.success-message {
  display: none;
  padding: 10px 0;
}

.success-message p {
  text-align: left;
  font-size: large;
}

.donor-transaction-id {
  font-family: monospace;
  font-size: 16px;
  line-height: 1;
}

.donate-form-container.processing {
  pointer-events: none;
}

.processing .processing-message {
  display: flex;
  opacity: 1;
  pointer-events: inherit;
}

.processing-message {
  transition: opacity .15s linear;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 90%);
}

#payment-request-button,
#donate-button,
#give-by-check-link {
  margin-top: 12px;
  width: 100%;
}

#payment-request-button {
  width: 100%;
}

.payment-request_true {
  display: none;
}
.payment-request .payment-request_true {
  display: initial;
}

#donate-button {
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  padding: 0 40px;
  color: #fff;
  background-color: #369ff4;
  transition: background-color .15s linear;
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}
#donate-button:disabled {
  cursor: initial;
}
#donate-button:focus,
#donate-button:hover {
  background-color: #70bbf7;
  outline: 0;
  border: 0;
}

.donate-form-body {
  margin: 0 auto;
  padding: 10px 20px 20px;
}

#give-by-check-link {
  text-align: center;
  font-size: large;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: scroll;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-inner {
  position: relative;
  background-color: #fff;
  padding: 20px;
  height: auto;
  min-height: auto;
  min-width: 80%;
}

.modal-inner h2 {
  margin: 0 0 0.83em;
  font-size: 1.5em;
}

.modal-close {
  top: 0;
  right: 10px;
  line-height: 1.95em;
  position: absolute;
  font-size: 35px;
  cursor: pointer;
  color: #333232;
  font-weight: 900;
  font-family: Arial, sans-serif;
}

.navbar-header {
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  flex: none;
}

.navbar-header .logo {
  width: 310px;
  height: 100px;
  background: center / contain no-repeat url(../images/horizontal-logo.svg);
  text-decoration: none;
  text-indent: -999em;
  overflow: hidden;
}

footer {
  align-self: center;
  padding: 1em;
}
