{% extends "layout.html" %}
{% block head %}
<link rel="preconnect" href="https://checkout.stripe.com">
{% endblock %}
{% block content %}
<div class="donation">
  <form action="/charge" method="post" class="donate-form-container">
    <div class="donate-form-header">
      <label for="amount">Enter an amount to give</label>
    </div>
    <div class="donate-form-body">
      <div class="donation-amount-wrapper">
        <div class="input-field-container">
          <span class="preinput">$</span>
          <input
            type="number"
            name="amount"
            required
            step="1"
            value="{{ amount // 100 if amount else 50 }}"
            aria-label="Donation Amount"
          />
          <span class="postinput">USD</span>
        </div>
        <div class="error"></div>
      </div>
      <div class="frequency-group">
        <label for="frequency_once"><input type="radio" name="frequency" value="once" id="frequency_once" checked /> One-time</label>
        <label for="frequency_monthly"><input type="radio" name="frequency" value="monthly" id="frequency_monthly" /> Monthly</label>
      </div>
      <div class="action-container">
        <button id="donate-button">Donate with card</span></button>
        <a href="#give-by-check" id="give-by-check-link">Give by check</a>
      </div>
    </div>
  </form>
</div>
<div class="org-info">
  <div class="feature">
    <div class="endcap">🎉</div>
    <div class="middle">This December, your donations will be matched up to <span class="feature-color">$10,000</span>!</div>
    <div class="endcap">🎉</div>
  </div>
  <h3>Our Mission</h3>
  <p>
    Mission Bit is dedicated to inspiring and empowering the next generation
    of tech innovators. We build professional opportunity pathways for high
    school youth across the San Francisco Bay Area by making computer science
    education more accessible to those traditionally underrepresented in tech.
  </p>
  <h3>The Problem</h3>
  <p>
    There are over 100,000 high school students from low-income communities
    with no access to computer science courses across the nine Bay Area
    counties (San Francisco, San Mateo, Santa Clara, Alameda, Contra Costa,
    Marin, Solano, Sonoma, and Napa).
  </p>
  <h3>Our Solution</h3>
  <p>
    Our initial goal is to continue to expand our existing model to expose
    more students to computer science education and ensure more
    underrepresented youth have access to free coding courses. Our interactive
    courses provide positive relationships between students and their
    instructors, volunteers in the classroom, and peers; bringing like-minded
    individuals together to form long-lasting meaningful connections. We are
    on a mission to recreate the face of tech and ensure our students have
    the necessary skills to thrive in this local economy and be part of the
    competition.
  </p>
  <p>
    Read our <a href="https://www.missionbit.com/annual-reports/2018/mission-bit-annual-report-2018.pdf"
      target="_blank">2018 Annual Report</a> and check out <a href="https://www.missionbit.com/">missionbit.com</a>
    to learn more about us!
  </p>
</div>
{% endblock %}
{% block modals %}
<div id="give-by-check" class="modal">
  <div class="modal-inner">
    <button class="modal-close" aria-label="Close">×</button>
    <h2>Donate by Check</h2>
    <p>
      Make checks payable to <strong>Mission Bit</strong>.
      To receive a receipt electronically, write your
      email address in the memo of your check.
    </p>
    <address>
      Mission Bit<br />
      101 A Clay Street Ste. 121<br />
      San Francisco, CA 94111<br />
      <br />
      EIN: 46-0945785<br />
      Phone: <a href="tel:1-415-879-5380">(415) 879-5380</a><br />
      Contact: <a href="mailto:info@missionbit.com">info@missionbit.com</a><br />
      Mission Bit is a 501 (c)(3)
    </address>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
window.STRIPE_PK = {{ key | tojson }};
window.METADATA = {{ metadata | tojson }};
</script>
<script src="{{ '/static/js/donate.js' | asset_url }}"></script>
{% endblock %}
