{% extends "layout.html" %}
{% block head %}
<link rel="preconnect" href="https://checkout.stripe.com">
{% endblock %}
{% block content %}
<div class="donation">
  <form action="/charge" method="post" class="donate-form-container">
    <div class="donate-form-header">
      <label for="amount">Enter an amount to give</label>
    </div>
    <div class="donate-form-body">
      <div class="donation-amount-wrapper">
        <div class="input-field-container">
          <span class="preinput">$</span>
          <input
            type="number"
            name="amount"
            required
            step="1"
            value="{{ amount // 100 if amount else 50 }}"
            aria-label="Donation Amount"
          />
          <span class="postinput">USD</span>
        </div>
        <div class="error"></div>
      </div>
      <div class="action-container">
        <div class="processing-message">
          Collecting your donation&hellip;
        </div>
        <div id="payment-request-button" class="payment-request_true"></div>
        <button id="donate-button">Donate<span class="payment-request_true"> with card</span></button>
        <a href="#give-by-check" id="give-by-check-link">Give by check</a>
      </div>
      <div class="success-message">
        <h2>Thank you!</h2>
        <p class="email-sent_true">
          Your donation has been collected and a receipt
          has been sent to:<br />
          <span class="donor-email"></span><br><br>
          Transaction ID:<br>
          <span class="donor-transaction-id"></span>
        </p>
        <p class="email-sent_false">
          Your donation has been collected, but we were
          unable to deliver a receipt email to
          <span class="donor-email"></span>. We can issue
          your receipt if you contact
          <a href="mailto:donate@missionbit.com?subject=Missing recipt for transaction" class="donate-email-link">donate@missionbit.com</a>
          with the transaction id:<br><span class="donor-transaction-id"></span>.
        </p>
      </div>
    </div>
  </form>
</div>
{% endblock %}
{% block modals %}
<div id="give-by-check" class="modal">
  <div class="modal-inner">
    <button class="modal-close" aria-label="Close">×</button>
    <h2>Donate by Check</h2>
    <p>
      Make checks payable to <strong>Mission Bit</strong>.
      To receive a receipt electronically, write your
      email address in the memo of your check.
    </p>
    <address>
      Mission Bit<br />
      101 A Clay Street 121<br />
      San Francisco, CA 94111<br />
      <br />
      EIN: 46-0945785<br />
      Phone: <a href="tel:1-415-879-5380">(415) 879-5380</a><br />
      Contact: <a href="mailto:info@missionbit.com">info@missionbit.com</a><br />
      Mission Bit is a 501 (c)(3)
    </address>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
var STRIPE_PK = {{ key | tojson }};
var METADATA = {{ metadata | tojson }};
</script>
<script src="{{ '/static/js/donate.js' | asset_url }}"></script>
{% endblock %}
