<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mission Bit</title>
  <meta name="description" content="Donate to Mission Bit to support free coding education for public school students" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@missionbit">
  <meta property="og:image" content="https://www.missionbit.com/images/logo-fb.png">
  <meta property="og:title" content="Support free coding education and industry experiences for public school students">
  <meta property="og:site_name" content="Donate to Mission Bit">
  <meta property="og:type" content="non_profit">
  <meta property="og:url" content="https://donate.missionbit.com/">
  <meta property="og:description" content="Mission Bit is a 501(c)3 non-profit offering coding education and industry experiences to equip, empower and inspire public school youth to build products they dream up and broaden the opportunity horizon they envision for themselves.">
  <link rel="shorcut icon" href="/static/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="{{ '/static/css/style.css' | asset_url }}" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47473369-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-47473369-4');
  </script>
  {% block head %}{% endblock %}
</head>
<body>
  <div class="container">
    <div class="navbar-header"></div>
    {% block content %}{% endblock %}
    <footer>
      <address>
        Mission Bit<br />
        101 A Clay Street 121<br />
        San Francisco, CA 94111<br />
        EIN: 46-0945785<br />
        Phone: <a href="tel:1-415-879-5380">(415) 879-5380</a><br />
        Contact: <a href="mailto:info@missionbit.com">info@missionbit.com</a><br />
        Mission Bit is a 501 (c)(3)
      </address>
    </footer>
  </div>
</body>
</html>
