{% extends "layout.html" %}
{% block content %}
<div class="donation">
  <div class="donate-form-container">
    <div class="donate-form-header">
      <h2>Manage Your Donation</h2>
    </div>
    <div class="donate-form-body">
      <div class="success-message">
        <p>
          Your <strong>{{ '$%0.2f'| format(amount/100|float) }}</strong>
          {{ frequency }} donation by {{ payment_method }} is
          {% if subscription.status == 'active' %}
            active and will renew on {{ next_cycle }}.
          {% else %}
            canceled.
          {% endif %}
          The email we have on file is:<br />
          <span class="donor-email">{{ email }}</span><br><br>
          Subscription ID:<br>
          <span class="donor-transaction-id">{{ id }}</span><br><br>
          If you have any questions about your {{ frequency }} donation, contact us at
          <a href="mailto:{{ donate_email }}">{{ donate_email }}</a>.
        </p>
        <p>
          From here you can <a href="/">donate again</a> or visit
          <a href="https://www.missionbit.com/">missionbit.com</a>.
        </p>
        {% if subscription.status == 'active' %}
        <form method="post">
          <p>
            To change your payment method or contribution level,
            cancel your donation below and create a new one.
            If you would like to cancel your monthly donation,
            <button class="cancel-subscription" type="submit">click here</button>.
          </p>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
